.rms-dot-loader-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  animation: animate-circle linear;
  transform-origin: center;
}

.rms-dot-loader-wrapper span {
  border-radius: 50%;
  display: inline-block;
  transform-origin: center;
  animation: animate-dot linear;
}

@keyframes animate-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-dot {
  0%,
  100% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1);
  }
}
