.rms-grid-loader-wrapper {
  display: grid;
  background-color: transparent;
}

.rms-grid-loader-wrapper span {
  border-radius: 50%;
  transform-origin: center;
  animation: animate-dots ease-in-out;
}

@keyframes animate-dots {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}
