.rms-circle-loader-wrapper {
  display: flex;
  position: relative;
}

.rms-circle-loader-wrapper span {
  border-radius: 50%;
  animation: animate-circle linear;
}

@keyframes animate-circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
