/* animated logo styles - start */
.logo-animate {
  animation: alternate animate-stroke;
  fill: transparent;
  --magic-spinner-color: #d20062;
}

@keyframes animate-stroke {
  0%,
  10% {
    fill: transparent;
    stroke: var(--magic-spinner-color);
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }

  50% {
    fill: transparent;
    stroke: var(--magic-spinner-color);
    stroke-width: 3;
  }

  90%,
  100% {
    fill: var(--magic-spinner-color);
    stroke: transparent;
    stroke-width: 3;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}
/* animated logo styles - start */
